*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nova Fonte";

}

.cadanome {
    border: 1px solid black;
    margin-top: 2px;
    border-radius: 10px;
}

.btn{
    background-color: blue;
    color: white;
    border-radius: 20px;
    height: 25px;
    border: none;
    width: 100px; 
    margin-top: 20px;

}

